html {
  scroll-behavior: smooth;
}

/*  폰트 부분  */
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 폰트마지막 */

#body_main {
  font-family: "S-CoreDream-3Light";
}
.one {
  width: 100%;
  height: 840px;
  background-color: #9dc8c8;
  display: flex;
  justify-content: center;
  position: relative;
}
.nav {
  display: flex;
  line-height: 100px;
  width: 100%;
  background-color: #9dc8c8;
  height: 100px;
  color: white;
  justify-content: flex-end;
}
.nav li {
  display: inline-block;
  font-size: 16px;
}

.nav li:nth-child(5) {
  margin: 0 60px 0 0;
}

.nav li a {
  color: white;
  margin: 0 10px;
}

.nav li :hover {
  border-bottom: 2px solid white;
  padding: 0 0 10px 0;
}

.one div {
  align-self: center;
  font-size: 180px;
  margin: 0 0 100px 50px;
  color: white;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.one div {
  width: 820px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(10), cursor 1s steps(1) infinite;
}

.two {
  width: 100%;
  height: 940px;
  display: flex;
}

.two_self {
  float: left;
  width: 20%;
  height: 940px;
  background-color: #58c9b9;
  text-align: center;
  justify-content: center;
}
.two_self > div:nth-child(1) {
  margin-top: 80px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.two_self > div:nth-child(2) img {
  width: 200px;
  height: 200px;
  margin: 150px 0 0 0;
  border-radius: 90%;
  border: 3px solid rgb(231, 231, 231);
  object-fit: cover;
}
.two_self > div:nth-child(3) {
  font-size: 20px;
  color: white;
  margin: 28px 0 0 0;
}
.two_self span p {
  margin: 170px 0 0 0;
  color: white;
}

.icon {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0 0 0 12px;
}

.icon li {
  padding: 10px 5px;
}
.icon li img {
  width: 25px;
  height: 25px;
}

/*              인덱스1         */

.two_index div {
  font-size: 30px;
  color: white;
}

.two_index {
  float: left;
  width: 40%;
  height: 940px;
  background-color: #519d9e;
}

.two_index .index_1 {
  margin: 90px 0 0 150px;
  font-size: 18px;
  line-height: 35px;
}
.two_index .index_1 span {
  font-weight: bold;
  margin: 0 0 20px 0;
  font-size: 32px;
}

.two_index .index_1 ul {
  margin: 20px 0 0 50px;
}

/*인덱스2*/

.two_index .index_2 {
  margin: 50px 0 0 150px;
  font-size: 18px;
  line-height: 35px;
}

.two_index .index_2 span {
  font-weight: bold;
  padding: 0 0 20px 0;
  font-size: 32px;
}

.two_index .index_2 ul {
  margin: 20px 0 0 50px;
}

.two_index .index_2 p {
  font-size: 12px;
  text-indent: 48px;
  color: rgb(231, 231, 231);
  margin: -10px 0;
}

/*스킬부분 */
.two_index2 {
  color: white;
  float: left;
  width: 40%;
  height: 940px;
  background-color: #519d9e;
}

.two_index2 .skill {
  margin: 90px 0 0 130px;
  font-size: 18px;
  line-height: 35px;
}

.two_index2 .skill span {
  font-weight: bold;
  margin: 0 0 20px 20px;
  font-size: 32px;
}

.two_index2 .skill ul {
  margin: 0px 0 0 50px;
}

.two_index2 .skill .photoshop {
  border-radius: 5px;
  background-color: white;
  height: 30px;
  width: 400px;
}
.two_index2 .skill .photoshop > p {
  display: inline-block;
  border: 15px solid #58c9b9;
  border-radius: 5px;
  width: 350px;
  opacity: 0.7;
  animation: stack 2s 1;
  animation-delay: 2s;
}

@keyframes stack {
  0% {
    width: 0;
  }
  100% {
    width: 350px;
  }
}

.two_index2 .skill .illustrator {
  border-radius: 5px;
  background-color: white;
  height: 30px;
  width: 400px;
}
.two_index2 .skill .illustrator > p {
  display: inline-block;
  border: 15px solid #58c9b9;
  border-radius: 5px;
  width: 280px;
  opacity: 0.7;
  animation: stack2 2s 1;
  animation-delay: 2s;
}

@keyframes stack2 {
  0% {
    width: 0;
  }
  100% {
    width: 280px;
  }
}

.two_index2 .skill .indesign {
  border-radius: 5px;
  background-color: white;
  height: 30px;
  width: 400px;
}
.two_index2 .skill .indesign > p {
  display: inline-block;
  border: 15px solid #58c9b9;
  border-radius: 5px;
  width: 250px;
  opacity: 0.7;
  animation: stack3 2s 1;
  animation-delay: 2s;
}
@keyframes stack3 {
  0% {
    width: 0;
  }
  100% {
    width: 250px;
  }
}

.two_index2 .skill .html {
  border-radius: 5px;
  background-color: white;
  height: 30px;
  width: 400px;
}
.two_index2 .skill .html > p {
  display: inline-block;
  border: 15px solid #58c9b9;
  border-radius: 5px;
  width: 280px;
  opacity: 0.7;
  animation: stack4 2s 1;
  animation-delay: 2s;
}
@keyframes stack4 {
  0% {
    width: 0;
  }
  100% {
    width: 280px;
  }
}

.two_index2 .skill .jvs {
  border-radius: 5px;
  background-color: white;
  height: 30px;
  width: 400px;
}
.two_index2 .skill .jvs > p {
  display: inline-block;
  border: 15px solid #58c9b9;
  border-radius: 5px;
  width: 120px;
  opacity: 0.7;
  animation: stack5 2s 1;
  animation-delay: 2s;
}
@keyframes stack5 {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}

.two_index2 .like {
  margin: 30px 0 0 150px;
  font-size: 18px;
  line-height: 35px;
}

.two_index2 .like span {
  font-weight: bold;
  padding: 0 0 20px 0;
  font-size: 32px;
}

.two_index2 .like ul {
  margin: 20px 0 0 50px;
}

.two_index2 .like p {
  font-size: 12px;
  text-indent: 50px;
  color: rgb(231, 231, 231);
  margin: -10px 0;
}

.two_index2 .hobby {
  margin: 30px 0 0 150px;
  font-size: 18px;
  line-height: 35px;
}

.two_index2 .hobby span {
  font-weight: bold;
  padding: 0 0 20px 0;
  font-size: 32px;
}

.two_index2 .hobby ul {
  display: flex;
  margin: 15px 0 0 50px;
}

.two_index2 .hobby ul li img {
  width: 50px;
  height: 50px;
  padding: 0 10px;
}

#three {
  width: 100%;
  height: 940px;
  background-color: #77af9c;
  background: url(bg.png) no-repeat center;
}
.threebox {
  width: 1600px;
  margin: 0 auto;
}
.three_text {
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
  height: 90px;
  line-height: 120px;
}

.three_text2 {
  height: 40px;
  font-size: 16px;
  color: whitesmoke;
}

/* AD슬라이더 */

.swiper-container {
  width: 100%;
  height: 810px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  width: 970px;
  height: 630px;
  margin: 0 auto;
  padding: 0 0 55px 0;
  border-radius: 0.5%;
}

#four {
  height: 2820px;
  width: 100%;
  background-color: rgb(162, 162, 162);
}
.fourbox {
  width: 1600px;
  margin: 0 auto;
}

.fourbox_text {
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
  height: 90px;
  line-height: 120px;
}

.fourbox_text2 span {
  height: 40px;
  font-size: 16px;
  color: whitesmoke;
}
.fourbox_text2 > div > h1 {
  display: inline-block;
  margin: 15px 0 0 0;
  border-bottom: 5px solid white;
  padding-bottom: 5px;
  color: white;
  font-size: 36px;
}

.fourbox_main {
  width: 1600px;
  height: 2670px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.fourbox_main .leaflet_text {
  color: white;
  font-size: 18px;
  position: absolute;
  margin: 60px 0 0 0;
}

.fourbox_main .leaflet_text > div {
  background-color: rgb(0, 0, 0, 0.3);
  width: 400px;
  height: 70px;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
}
.fourbox_main .leaflet_text > div span {
  font-size: 12px;
  color: white;
  align-self: center;
  line-height: 20px;
}
.fourbox_main .leaflet {
  margin: 70px 0 0 0;
}

.fourbox_main .poster_text {
  color: white;
  font-size: 18px;
  margin: 80px 0 0 0;
}

.fourbox_main .poster_text div {
  width: 400px;
  height: 70px;
  margin: 15px 0 0 0;
  background-color: rgb(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.fourbox_main .poster_text div span {
  font-size: 12px;
  color: white;
  align-self: center;
  line-height: 20px;
}
