
.one {
  width: 100%;
  height: 830px;
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
}
.nav {
  display: flex;
  line-height: 100px;
  width: 100%;
  background-color: black;
  height: 100px;
  color: white;
  justify-content: flex-end;
}

.nav li a {
  color: white;
  margin: 0 15px;
}

.nav li :hover {
  border-bottom: 2px solid white;
  padding:0 0 10px 0;
}

.one div {
  align-self: center;
  font-size: 100px;
  color: white;
}

@keyframes typing{
  from{ width: 0; }
}
 
@keyframes cursor{
  50%{ border-color: transparent; }
}
 
.one div{
  width: 450px;
  overflow: hidden; 
  white-space: nowrap;
  animation: typing 1s steps(10),
  cursor 1s steps(1) infinite;
}


.two {
  width: 100%;
  height: 930px;
  display: flex;
}

.two_self {
  float: left;
  width: 15%;
  height: 930px;
  background-color: aqua;
  text-align: center;
  justify-content: center;
}
.two_self > div:nth-child(1) {
  margin-top: 100px;
  color: black;
}

.two_self >div:nth-child(2) {
  margin-top: 300px;
}
.two_self > p {
  font-size: 14px;
  color: black;
}
.two_index {
  float: left;
  width: 85%;
  height: 930px;
  background-color: blue;
}

.two_index div {
  font-size: 30px;
  color: white;
}

.icon {
  display: flex;
  list-style: none;
  justify-content: center;
}

.icon li {
  padding: 10px 5px;
}
.icon li img {
  width: 20px;
  height: 20px;
}
.threebox {
  height: 930px;
}

.three_text {
font-size: 50px;
font-weight: bold;
color: black;
display: flex;
justify-content: center;
padding: 40px 0;
}

.three_text2 {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 0 0 30px 0;
}


/* AD슬라이더 */

.swiper-container {
  width: 100%;
  height: 80%;
}


.swiper-slide{ 
  text-align: center;
  font-size: 18px;
  background: #fff;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  width: 400px;
  height: 500px;
}

.fourbox {
  height: 930px;
  width: 100%;
  background-color: yellow;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }